@import url("https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&family=Merienda:wght@500&family=Poppins:wght@400;500;600&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --lead: #1a1a2e; /* Dark Blue instead of black */
  --pinkish-red: #e94560; /* Pinkish Red */
  --light-background: #f9f9f9; /* Light Background */
  --light-pink: #ffe3e3; /* Light Pink */
  --pure-white: #fff;
}

body {
  background: linear-gradient(to right, #f2bd12, #fffdf7);
  position: relative;
}

/* basic styling */
a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--lead);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
}
.between {
  justify-content: space-between;
}

.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.wrapper {
  max-width: 1400px;
  margin: auto;
  padding-inline: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.pt-3 {
  padding-top: 3rem;
}

.m-top {
  margin-top: 4rem;
}
.mt-half {
  margin-top: 0.5rem;
}
.mt-one-half {
  margin-top: 1.5rem;
}
.text-center {
  text-align: center;
}
.ms {
  margin: auto;
}
.mt-4 {
  margin-top: 4rem;
}

/* header styling */
header {
  box-shadow: inset 1px 1px 20px var(--pinkish-red);
  background-color: var(--light-pink);
  position: sticky !important;
  top: 0;
  z-index: 999;
}
.navbar {
  min-height: 14vh;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--pinkish-red);
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--pinkish-red);
  border-radius: 1rem;
  font-size: 1.1rem;
  color: var(--pure-white);
  box-shadow: rgba(00, 0, 0, 0.1) 0 2px 1px;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background: var(--lead);
}

.cart-icon {
  color: var(--lead);
  font-size: 1.3rem;
  position: relative;
}

.cart-icon .cart-value {
  position: absolute;
  top: 50%;
  right: -10px;
  font-size: 0.85rem;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100vw;
  background: var(--pinkish-red);
  color: var(--lead);
  text-align: center;
  line-height: 20px;
}

.desktop-action .hamburger {
  font-size: 1.5rem;
  display: none;
}
.mobile-menu {
  display: none;
}

/* section styling */

.hero-section {
  min-height: calc(100vh-14vh);
}

.content,
.image-container,
.service-card {
  flex: 1;
  flex-basis: 300px;
}

h1 {
  font-size: 5.6vw;
  color: var(--lead);
}
h1 span {
  color: var(--pinkish-red);
}

p {
  font-size: 1.1rem;
  color: gray;
  line-height: 1.8rem;
  font-weight: 400;
}
.para {
  margin-block: 2rem;
  max-width: 550px;
}

.social-icon {
  background: var(--light-pink);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 3rem;
  box-shadow: rgba(00, 0, 0, 0.1) 0 2px 1px;
  transition: all 0.3s ease-in-out;
}

.social-icon :hover {
  background: var(--lead);
  color: var(--pure-white);
}

/* section 1  */

h5 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: var(--pinkish-red);
  text-transform: uppercase;
}

h2 {
  font-size: 3.7rem;
  text-transform: capitalize;
  color: var(--lead);
}

h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--lead);
}

.service-card {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* Menu section */

.order-card {
  flex: 1;
  flex-basis: 300px;
  padding: 0rem 1rem 2rem 1rem;
  background: var(--pure-white);
  border: 0.5rem solid var(--pinkish-red);
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}

.order-card img {
  width: 15rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 10px 10px);
}

h4 {
  font-size: 1.5rem;
  color: var(--lead);
}

.order-card .price {
  font-size: 1.5rem;
  color: var(--pinkish-red);
  padding: 1.3rem 0 2rem 0;
}

/* cart tab styling */

.cart-tab {
  background: var(--light-pink);
  position: fixed;
  inset: 0 -400px 0 auto;
  width: 25rem;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.2) -10px -10px 20px;
  transition: 0.5s ease-in-out;
}
.cart-tab-active {
  inset: 0 0 0 auto;
}

.cart-list {
  flex: 1;
  width: 100%;
  margin-top: 1.5rem;
  overflow: auto;
}

.cart-list::-webkit-scrollbar {
  width: 0;
}

.total-container {
  width: 100%;
  background: var(--pinkish-red);
  text-align: center;
  margin-block: 1rem;
  padding-block: 1rem;
}

.total-container h4 {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
}
.btn-container .btn {
  background: var(--lead);
  transition: 0.3s ease-in-out;
}
.btn-container .btn:hover {
  background: var(--pinkish-red);
  color: var(--lead);
}

.cart-list .item:nth-child(odd) {
  background: var(--light-background);
}
.item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: .7rem .8rem;
  transition: all 0.5s ease-in-out;
}
.item.slide-out {
  transform: translateX(50%);
}

.item .detail {
  flex: 2;
}
.item .item-image img {
  width: 5rem;
}

.item h4 {
  font-size: 1.2rem;
  color: var(--lead);
}

.item .item-total {
  font-weight: 400;
  margin-top: 0.3rem;
}
.quantity-btn {
  background: var(--lead);
  color: var(--pure-white);
  width: 1.7rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  text-align: center;
  line-height: 1.7rem;
}
.quantity-value {
  font-size: 1.2rem;
  font-weight: 400;
  margin-inline: 0.6rem;
}

/* review section  */

.card {
  flex-direction: column;
  width: 40%;
  background: var(--light-pink);
  box-shadow: inset 2px 2px 20px var(--pinkish-red);
  border-radius: 12px;
  padding: 20px;
}
.review-container {
  width: 100%;
}
.reviewForm,
.contactForm {
  width: 70%;
}

.form-control {
  width: 100%;
  height: 30px;
  border: 2px solid var(--pinkish-red);
  border-radius: 10px;
  padding: 10px;
  background: transparent;
}
#comment {
  height: 50px;
}
.review-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  width: 40%;
  box-shadow: inset 2px 2px 20px var(--pinkish-red);
  border-radius: 12px;
  background: var(--light-pink);
}
.swiper-slide,
.arr {
  padding: 20px;
}
.rating {
  color: #f2bd12;
}
.arrow {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 100vw;
  background: var(--pinkish-red);
  color: var(--lead);
  text-align: center;
  line-height: 2.5rem;
}

/* section - 4  */

.app-container {
  background: var(--light-pink);
  padding: 3rem 6rem;
  border-radius: 3rem;
}

.app-container .image-container img {
  width: 25rem;
}

/* section - 5  */

.input-container {
  width: 43rem;
  max-width: 100%;
  background: var(--pure-white);
  padding: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 8px;
  border-radius: 1rem;
  margin: 4rem auto 0 auto;
}

.input-container input[type="email"] {
  flex: 1;
  height: 7vh;
  background: transparent;
  border: none;
  font-size: 1.1rem;
  padding-left: 1rem;
}

input[type="email"]:focus {
  outline: none;
}

/* contact page  */
.contact-container {
  width: 100%;
  justify-content: space-evenly;
}
.directContact {
  flex-direction: column;
  width: 30%;
  background: var(--light-pink);
  box-shadow: inset 2px 2px 20px var(--pinkish-red);
  border-radius: 12px;
  padding: 20px;
}
.directContact h3 {
  color: var(--pinkish-red);
}

.directContact a .email {
  color: rgb(219, 68, 55);
}
.directContact a .call {
  color: rgb(61, 61, 228);
}

.contactForm {
  width: 70%;
}
.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* admin login page  */

.admin-section {
  min-height: 70vh;               
  display: flex;
  justify-content: center;        
  align-items: center;            
}

.admin-container {
  width: 30%;
  display: flex;
  justify-content: center;      
  align-items: center;          
}

.admin-container .content {
display: flex;
  justify-content: center;      
  align-items: center; 
  flex-direction: column;
  width: 100%;                    
  background: var(--light-pink);
  box-shadow: inset 2px 2px 20px var(--pinkish-red);
  border-radius: 12px;
  padding: 20px;
}
.adminForm{
  width: 80%;
}
.adminForm .loginBtn{
display: flex;
justify-content: center;
}


/* product page  */
        .product-section {
  min-height: 70vh;               
  display: flex;
  justify-content: center;        
  align-items: center;            
}

.product-container {
  width: 30%;
  display: flex;
  justify-content: center;      
  align-items: center;          
}

.product-container .content {
  display: flex;
  justify-content: center;      
  align-items: center; 
  flex-direction: column;
  width: 100%;                    
  background: var(--light-pink);
  box-shadow: inset 2px 2px 20px var(--pinkish-red);
  border-radius: 12px;
  padding: 20px;
}

.productForm {
  width: 80%;
}

.productForm .loginBtn {
  display: flex;
  justify-content: center;
}

.productForm input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.productForm button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background-color: var(--pinkish-red);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.productForm button:hover {
  background-color: #e63946;
}





/* footer styling */

.footer-container {
  box-shadow: inset 1px 1px 20px var(--pinkish-red);
  background-color: var(--light-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  padding-block: 2rem;
}
.footer-p {
  text-align: center;
  color: var(--lead);
  font-weight: bold;
}




/* media query  */

@media screen and (max-width: 780px) {
  /* header styling */
  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .navbar{
    min-height: 10vh;
  }
  .navlist,
  .desktop-action .btn {
    display: none;
  }

  .desktop-action .hamburger {
    display: block;
  }
  .desktop-action .hamburger i {
    transition: all 0.5s ease-in-out;
  }
  .desktop-action .hamburger i.fa-xmark {
    transform: rotate(180deg);
    opacity: 0.8;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    width: 20rem;
    margin-top: 5rem;
    padding: 2rem;
    background: var(--pure-white);
    border: 0.5rem solid var(--pinkish-red);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
      rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
    transition: all 0.5s ease-in-out;
  }

  .mobile-menu-active {
    left: 50%;
    transform: translateX(-50%);
  }

  /* section styling */
  /* section-1  */
  h1 {
    font-size: 3rem;
  }

  .content {
    padding-top: 3rem;
  }
  .gap-2 {
    gap: 1rem;
  }
  .gap-4 {
    gap: 4rem;
  }

  /* section-1  */

  .h5 {
    font-size: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }

  /* cart tab styling */

  .cart-tab{
    padding-block: 1rem;
  }
  .item{
    padding: .7rem 1.5rem;
  }
  .item .item-image img {
  width: 4rem;
}
  .quantity-value, .item h4{
    font-size: 1rem;
  }

  /* review-section */
  .review-container {
    flex-direction: column;
    gap: 2rem;
  }
  .card,
  .swiper {
    width: 90%;
  }

  /* section-4  */
  .app-container {
    padding: 2rem 2rem;
  }

  /* section - 5  */

  .input-container {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .input-container input[type="email"] {
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  /* contact-page */
  .contact-container {
    flex-direction: column;
    gap: 2rem;
  }

  .directContact {
    width: 70%;
  }

  .footer-container{
    margin-top: 4rem;
    padding-block: 1rem;
  }
  /* admin login and product page */
  .admin-container, .product-container {
  width: 80%;
          
}
  

}
